.jumbotron{background-image: url(pics/5.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 80vh;}
#footer{height: 30vh}
